<!DOCTYPE html>
<html lang="en">
  <head>
	<title>GamePak DMG-09 (Bootleg)</title>
</head>
<body>
<h1>GAME BOY Game Pak</h1>
<h2>DMG-09 (Bootleg)</h2>
<p>This project is a template for a bootleg Game Pak/cartridge for the <a href="https://en.wikipedia.org/wiki/Game_Boy" target="blank">Game Boy</a> (fits bootleg/aftermarket cartridge shell only). It includes the PCB edge connector of an original DMG Game Pak.</p>
<p>The board outline looks like the following:</p>
<p><img src="brd.png" name="brd" width="480" height="532" border="0"></p>
<p><small><i>The solder mask layers have been turned off in this preview</i></small></p>
<p>&copy; 2020 Jay van Hutten</p>