<!DOCTYPE html>
<html lang="en">
  <head>
	<title>GamePak CGB-002</title>
</head>
<body>
<h1>GAME BOY Game Pak</h1>
<h2>CGB-002</h2>
<p>This project is a template for a Game Pak/cartridge for the <a href="https://en.wikipedia.org/wiki/Game_Boy_Color" target="blank">Game Boy Color</a>. It includes the PCB edge connector of an original CGB Game Pak.</p>
<p>The board outline looks like the following:</p>
<p><img src="brd.png" name="brd" width="480" height="552" border="0"></p>
<p><small><i>The solder mask layers have been turned off in this preview</i></small></p>
<p>&copy; 2020 Jay van Hutten</p>